body {
    font-family: "Times New Roman";
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    background-image: url("white.jpg");
    height: 1500px;
    
}

.card {
    background-color: skyblue;
    color: blue;
    font-size: 24px;
    font-weight: bold;
}


.table-title {
    color: black;
    font-size: 50px;
    font-family: monospace;
}

table {
    background-color: #9292f7;
}

#table {
    width: 1300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
}

th {
    background-color: skyblue;
    font-weight: bold;
}

#pics {
    width: 30px;
    height: 30px;
}

#container {
    float: left;
    margin-left: 52px;
}